

<%= form_with(model: request, local: true) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
        <% request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="columns">

  <div class="column is-2">
  </div> 

  <div class="column is-20" >
    <h2 class="title is-1 is-family-monospace has-text-primary mt-4" style="text-align:center;"> Nueva Solicitud</h2>

    <div class="box">

      <div class="field">
        <%= form.label "Mensaje", :class => "label"%>
        <div class="control has-icons-left">
        <%= form.text_area :description, autofocus: true, :class => "input is-normal", :placeholder => "Deja un mensaje al chofer"%>
        <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
        </div>
      </div>
      

      <div class="actions">
        <%= form.submit "Crear Solicitud" %>
        <%= link_to 'Volver', turns_all_path %>
      </div>

    </div>
  </div>

  <div class="column is-2">
  </div>
</div>

<% end %>
