<style>
p {text-align: center;}
thead {text-align: center;}
h1 {text-align: center;}
.button {width: 90%;}
</style>

<% if current_user %>

  <h1 class="title is-1 is-family-monospace has-text-primary mt-4 ml-6"> Detalles del turno </h1>

  <div class="box ml-6 mr-6 mb-6">
    <div class="columns">
      <div class="column is-one-quarter">
          <p class="subtitle has-text-weight-bold" style="text-align:left;"> Chofer </p>
          <div style="text-align:center;">
          </div>
          <p style="text-align:center;"> <%= @chofer.name + " " + @chofer.last_name%> </p>

          <%if @request_actual.status == "Aceptado"%>
            <p style="margin-top: 100px;"> <%= link_to 'Chat', chats_new_path(@turn_show.id), :class => "button" %> </p>
          <%else%>
            <p style="margin-top: 100px;"> <%= link_to 'Chat', requests_show_path(), :disabled =>"", :class => "button" %> </p>
          <%end%>
          
          <p style="margin-top: 20px;"> <%= link_to 'Calificar', new_rating_path(@turn_show.id), :class => "button is-primary" %> </p>
          <p style="margin-top: 20px;"> <%= link_to 'Volver', requests_index_path(), :class => "button" %> </p>
      </div>
      
      <div class="column is-one-quarters">
          <p class="subtitle has-text-weight-bold" style="text-align:left;"> Turno </p>
        <h2 class="subtitle is-size-50 has-text-weight-bold"> DATOS DEL TURNO </h2>
        <h3 style="text-align:left;"> <%= "Cupos: " + @turn_show.av_space.to_s + " de " + @turn_show.max_space.to_s%> </h3>
        <h3 style="text-align:left;"> <%= "Dirección origen: " + @turn_show.origin%> </h3>
        <h3 style="text-align:left;"> <%= "Dirección destino: " + @turn_show.destination%> </h3>
        <h3 style="text-align:left;"> <%= "Fecha de salida: " + @turn_show.date.to_s%> </h3>
        <h3 style="text-align:left;"> <%= "Hora de salida: " + @turn_show.time.strftime('%H:%M').to_s%> </h3>
        <h2 class="subtitle is-size-50 has-text-weight-bold mt-5"> INFORMACIÓN SOBRE LA SOLICITUD </h2>
        <h3 style="text-align:left;"> <%= "Solicitante: " + @request_actual.user.name + " " + @request_actual.user.last_name%> </h3>
        <h3 style="text-align:left;"> <%= "Mensaje del solicitante: " + @request_actual.description%> </h3>
      </div>

      <div class="column is-one-quarters">
        <p class="subtitle has-text-weight-bold" style="text-align:left;"> Vehículo </p>
        <h2 class="subtitle is-size-50 has-text-weight-bold mt-5"> DATOS DEL CHOFER </h2>
        <h3 style="text-align:left;"> <%= "Telefono: " + "#{@chofer.phone}"  %> </h3>
        <h3 style="text-align:left;"> <%= "Mail: " + @chofer.email%> </h3>
        <h2 class="subtitle is-size-50 has-text-weight-bold mt-5"> DATOS DEL AUTO </h2>
        <h3 style="text-align:left;"> <%= "Patente: " + @chofer.patent%> </h3>
        <h3 style="text-align:left;"> <%= "Color de auto: " + @chofer.car_color %> </h3>
      </div>

    </div>
  </div>

<% else %>

  <h1>Bienvenido a NiDi App</h1>
  <p>Debe iniciar sesión para poder utilizar las funciones.</p>

<% end %>
 