<style>
p {text-align: center;}
thead {text-align: center;}
h1 {text-align: center;}
.button {width: 90%;}
</style>

<% if current_user %>
  <h1 class="title is-1 is-family-monospace has-text-primary mt-4 ml-6"> Mis Chats </h1>


  <!-- LISTO LOS CHATS DE MIS TURNOS (en donde soy chofer)-->

    <% @turns.each do |t| %>
      <div class="box ml-6 mr-6 mb-6">
        <div class="columns">
          
          
          <div class="column is-one-quarter">
            <p class="subtitle has-text-weight-bold"> Turno </p>
            <h3 style="text-align:center;"> <%=t.name%> </h3>
          </div>

          <div class="column is-one-quarter">
            <p class="subtitle has-text-weight-bold"> Chofer </p>
            <h3 style="text-align:center;"> Tú </h3>
          </div>


          <div class="column is-one-quarter">
            <p class="subtitle has-text-weight-bold"> Acciones </p>
            <p style="margin-top: 10px"><%= link_to 'Abrir chat', chats_new_path(t.id), :class => "button"%></p>
          </div>
      </div>
        </div>
    <% end %>

  <!-- LISTO LOS CHATS DE OTROS TURNOS (en donde me he inscrito como pasajero) -->

  <% @requests.each do |r| %>
    <% if r.status == "Aceptado" %>
      <div class="box ml-6 mr-6 mb-6">
        <div class="columns">
          
          
          <div class="column is-one-quarter">
            <p class="subtitle has-text-weight-bold"> Turno </p>
            <h3 style="text-align:center;"> <%=r.turn.name%> </h3>
          </div>

          <div class="column is-one-quarter">
            <p class="subtitle has-text-weight-bold"> Chofer </p>
            <%id_chofer = r.turn.user_id%>
            <%nombre_chofer = User.find(id_chofer).name%>
            <%apellido_chofer = User.find(id_chofer).last_name%>
            <h3 style="text-align:center;"> <%=nombre_chofer + " " + apellido_chofer%> </h3>
          </div>


          <div class="column is-one-quarter">
            <p class="subtitle has-text-weight-bold"> Acciones </p>
            <%if r.status == "Aceptado"%>
              <p style="margin-top: 10px"><%= link_to 'Abrir chat', chats_new_path(r.turn.id), :class => "button"%></p>
            <%else%>
              <p style="margin-top: 10px"><%= link_to 'Abrir chat', chats_index_path(r.turn.id), :disabled =>"", :class => "button"%></p>
            <%end%>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>



<% else %>

  <h1>Bienvenido a NiDi App</h1>
  <p>Debe iniciar sesión para poder utilizar las funciones.</p>

<% end %>

